@page
@model LondonEstate.Pages.Admin.Bills.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Bill.Id" />
            <div class="form-group">
                <label asp-for="Bill.FlatId" class="control-label">Flat</label>
                <select asp-for="Bill.FlatId" class="form-select" asp-items="ViewBag.FlatId"></select>
                <span asp-validation-for="Bill.FlatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill.VendorId" class="control-label">Vendor</label>
                <select asp-for="Bill.VendorId" class="form-select" asp-items="ViewBag.VendorId"></select>
                <span asp-validation-for="Bill.VendorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill.BillTypeId" class="control-label">Bill Type</label>
                <select asp-for="Bill.BillTypeId" class="form-select" asp-items="ViewBag.BillTypeId"></select>
                <span asp-validation-for="Bill.BillTypeId" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Bill.Amount" class="control-label"></label>
                <input asp-for="Bill.Amount" class="form-control" />
                <span asp-validation-for="Bill.Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill.PaidDate" class="control-label">Paid Date</label>
                <input type="date" asp-for="Bill.PaidDate" class="form-control" />
                <span asp-validation-for="Bill.PaidDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill.Notes" class="control-label"></label>
                <textarea asp-for="Bill.Notes" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Bill.Notes" class="text-danger"></span>
            </div>
           
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-2">
    <a asp-page="./Index">Cancel</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
