@page
@model LondonEstate.Pages.Admin.CheckinModel

@{
    ViewData["Title"] = "Checkin";
}

<span class="fw-bold">@Html.DisplayFor(model => model.Flat.Name)</span>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Flat.Id" />

            <div class="form-group">
                <label asp-for="Flat.CheckIn" class="control-label">Check in</label>
                <input type="date" asp-for="Flat.CheckIn" class="form-control" />
                <span asp-validation-for="Flat.CheckIn" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Flat.CheckOut" class="control-label">Check out</label>
                <input type="date" asp-for="Flat.CheckOut" class="form-control" />
                <span asp-validation-for="Flat.CheckOut" class="text-danger"></span>
            </div>
             <div class="form-group mt-2">
                <label asp-for="Flat.ReservationUrl" class="control-label">Reservation Url</label>
                <input asp-for="Flat.ReservationUrl" class="form-control" />
                <span asp-validation-for="Flat.ReservationUrl" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Flat.BookingNumber" class="control-label">Booking no</label>
                <input asp-for="Flat.BookingNumber" class="form-control" />
                <span asp-validation-for="Flat.BookingNumber" class="text-danger"></span>
            </div>
           
           
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" /> | 
                <a asp-page="./Bookings">Cancel</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
