@page
@model LondonEstate.Pages.Admin.DashboardModel
@{
    ViewData["Title"] = "Rent estimate";
}

<link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />

<div class="dashboard-container">

    <div class="dashboard-grid">

        <a href="/Admin/Bookings" class="dashboard-card bg-success">

            <div class="card-content">
                <h2 class="text-light">Bookings</h2>
            </div>
        </a><a href="/Admin/FlatDetail" class="dashboard-card bg-primary">

            <div class="card-content">
                <h2 class="text-light">Properties</h2>
            </div>
        </a>
        
    

        <a href="/Admin/Invoice" class="dashboard-card bg-warning">

            <div class="card-content">
                <h2 class="text-light">Invoice</h2>
            </div>
        </a>
       <a href="/Admin/Bills/Index" class="dashboard-card bg-danger">

            <div class="card-content">
                <h2 class="text-light">Bills</h2>
            </div>
        </a>
      
    </div>
</div>