@page
@model LondonEstate.Pages.Admin.Reports.indexModel
@{
}
<link rel="stylesheet" href="~/css/dashboard.css" asp-append-version="true" />
<div class="dashboard-container">
    <div class="dashboard-grid">
        <a href="/Admin/reports/today" class="dashboard-card bg-primary">
            <div class="card-content">
                <h2 class="text-light">Arrivals</h2>
            </div>
        </a>
       
    </div>
</div>