html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}
body {
    margin-bottom: 60px;
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
    body {
        line-height: 1.5;
        color: #222;
    }
    label {
        font-size: 0.9rem; /* ~14.4px */
        font-weight: 600;
        margin-bottom: 0.3rem;
    }

    input, select, textarea {
        font-size: 1rem; /* 16px */
        padding: 12px;
    }

    .btn {
        font-size: 1rem;
        padding: 12px 18px;
        border-radius: 6px;
    }
    .card-title {
        font-size: 1rem;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
.flat-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.12); /* Stronger raised effect */
    padding-bottom: 6px;
}

    .flat-card img {
        border-radius: 10px 10px 0 0;
    }

.object-fit-cover {
    object-fit: cover;
}

/* Improve spacing on mobile */



