@page
@model LondonEstate.Pages.Admin.Flats.CreateModel

@{
    ViewData["Title"] = "Create";
}


<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Flat.Name" class="control-label"></label>
                <input asp-for="Flat.Name" class="form-control" />
                <span asp-validation-for="Flat.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flat.Address" class="control-label"></label>
                <input asp-for="Flat.Address" class="form-control" />
                <span asp-validation-for="Flat.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flat.FlatUrl" class="control-label"></label>
                <input asp-for="Flat.FlatUrl" class="form-control" />
                <span asp-validation-for="Flat.FlatUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Flat.Wifi" class="control-label"></label>
                <textarea asp-for="Flat.Wifi" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Flat.Wifi" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="Flat.CheckinInstruction" class="control-label"></label>
                <textarea asp-for="Flat.CheckinInstruction" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Flat.CheckinInstruction" class="text-danger"></span>
            </div>
           @*  <div class="form-group">
                <label asp-for="Flat.VisualGuideUrl" class="control-label"></label>
                <input asp-for="Flat.VisualGuideUrl" class="form-control" />
                <span asp-validation-for="Flat.VisualGuideUrl" class="text-danger"></span>
            </div> *@
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary my-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
